/* Paramètres d'affichage */

*
{
    margin: O;
    padding: 0;
}

.container
{
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.annonce_disponible
{
    width: auto;
    background-color: white;
    height: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
}

.titre_principal_hebergement
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 15px;
}

/* Les 6 hébergements  */

.hebergement_Marseille
{
    width: 68%;
    height: 100%;
    background-color: #F2F2F2F2;
    border-radius: 20px;
    padding: 0px 24px 0px 24px;
}

.box_hebergement_all
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: auto;
    height: 74%;
    margin: 0px 10px 0px 10px;
}

.afficher_plus
{
    display: flex;
    height: 13%;
    width: auto;
    color: black;
    margin-left: 15px;
}

.box_hebergement1,
.box_hebergement2,
.box_hebergement3,
.box_hebergement4,
.box_hebergement5,
.box_hebergement6
{
    margin: 12px;
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 20px rgb(206, 202, 202);
}

.photo_hebergement1,
.photo_hebergement2,
.photo_hebergement3,
.photo_hebergement4,
.photo_hebergement5,
.photo_hebergement6
{
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.commentaire_hebergement
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.titre_hebergement
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.prix_hebergement
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.notation_hebergement
{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.decoration_texte
{
    text-decoration: none;
    color:black;
}

.etoile_grise
{
    display: flex;
    color: #dfd7d7f2;
}

.etoile_bleue
{
    display: flex;
    color: #0065FC;
}





/* Les plus populaires */

.les_plus_populaires
{
    width: 30%;
    height: 100%;
    margin-left: 2%;
    background-color: #F2F2F2F2;
    border-radius: 20px;
    padding: 0px 24px 0px 24px;
}

.titre_image_populaire
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    height: 12%;
    margin: 12px 12px 0px 12px;
}

.image_croissance_populaire
{
    margin: 10px 10px 10px 10px;
    padding: 10px 0px 0px 0px;
    font-size: 1.5em;
}

.box_populaire_all
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 85%;
}

.box_populaire1
{
    margin: 0px 10px 10px 10px;
    width: auto;
    height: 27%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 5px;
    box-shadow: 0px 0px 20px rgb(206, 202, 202);
}
 
.box_populaire2
{
    margin: 10px 10px 10px 10px;
    width: auto;
    height: 27%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 5px;
    box-shadow: 0px 0px 20px rgb(206, 202, 202);
}

.box_populaire3
{
    margin: 10px 10px 15px 10px;
    width: auto;
    height: 27%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 5px;
    box-shadow: 0px 0px 20px rgb(206, 202, 202);
}


.photo_populaire
{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.decoration_texte_populaire
{
    display: flex;
    text-decoration: none;
    color: black;
}

.notation_populaire
{
    display: flex;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}


.commentaire_populaire
{
    margin: 5px 15px 5px 20px;
    width: 50%;
}

.titre_populaire
{
    margin-top: 0px;
    margin-bottom: 10px;
}

.prix_populaire
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.alignement_texte_populaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}

