/* Paramètres d'affichage pour la page */
*
{
    margin: 0;
    padding: 0;
}

.container
{
    background-color: white;
    width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Paramètres d'affichage de la section S1*/

.titre_recherche_filtre_info
{
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.bloc_titre_recherche_filtre_info
{
    width: 100%;
    height: 100%;
    background-color: white;
}

.bloc_titre_principal
{
    width: auto;
    height: 20%;
    
}

.titre_principal
{
    font-size: 2em;
    margin: 5px 5px 5px 0px;
}

.description_titre_principal
{
    margin: 5px 5px 20px 0px;
}

.fond_bloc_recherche
{
    width: auto;
    height: 20%;
}

.bloc_recherche
{
    width: 400px;
    height: 45px;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.box_image_geolocalisation
{
    width: 50px;
    height: 100%;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: -1px 0px -1px -1px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.box_panel_texte_recherche
{
    width: 225px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

#texte_lieu_recherche
{
    font-size: 1em;
    padding-left: 20px;
    height: 45px;
    width: 203px;
    border: 1px solid #F2F2F2;
}

.box_recherche
{
    width: 130px;
    height: 100%;
    border: 2px solid #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: -1px -1px -1px 0px;
    background-color: #0065FC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.bouton_recherche
{
    background-color: #0065FC;
    border: none;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1em;
}

.decoration_texte
{
    text-decoration: none;
    color:white;
}

#image_loupe_recherche
{
    position: absolute;
    visibility: hidden;
}


.bloc_filtre 
{
    width: auto;
    height: 20%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.box_filtre_all
{
    background-color:white;
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

.box_filtre_titre
{
    height: 50px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.box_decoration_economique
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    width: 160px;
    height: 50px;
    margin: 0px 15px 0px 15px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

.contour_image_economique
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #DEEBFF;
    margin: -2px;
}

.image_economique
{
    color: #0065FC;
}

.texte_economique
{
    color: black;
    margin-right: 5px;
    font-size: 1em;
}

.box_decoration_familial
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    width: 130px;
    height: 50px;
    margin: 0px 15px 0px 15px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

.contour_image_familial
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #DEEBFF;
    margin: -2px;
}

.image_familial
{
    color: #0065FC;
}

.texte_familial
{
    color: black;
    margin-right: 5px;
    font-size: 1em;
}

.box_decoration_romantique
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    width: 160px;
    height: 50px;
    margin: 0px 15px 0px 15px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

.contour_image_romantique
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #DEEBFF;
    margin: -2px;
}

.image_romantique
{
    color: #0065FC;
}

.texte_romantique
{
    color: black;
    margin-right: 5px;
    font-size: 1em;
}

.box_decoration_animal
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin: 0px 15px 0px 15px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

.contour_image_animal
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #DEEBFF;
    margin: -2px;
}

.image_animal
{
    color: #0065FC;
}

.texte_animal
{
    color: black;
    margin-right: 5px;
    font-size: 1em;
}

.bloc_info 
{
    width: auto;
    height: 20%;
    background-color: white;
}

.box_info
{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.contour_image_info
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #eee3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_info
{
    color: #0065FC;
}

.texte_info
{
    width: auto;
    height: auto;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}